<link rel = "stylesheet" href="css/bracket.css" type="text/css">

<h1>{{info.title}}</h1>
<main id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner">{{info.users.[0].name}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">{{info.users.[1].name}}</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner">{{info.users.[2].name}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">{{info.users.[3].name}}</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top ">{{info.users.[4].name}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom winner">{{info.users.[5].name}}</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner">{{info.users.[6].name}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">{{info.users.[7].name}}</li>

	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner">{{FirstWin.[0]}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">{{FirstWin.[1]}}</li>

		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner">{{FirstWin.[2]}}</li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">{{FirstWin.[3]}}</li>

		<li class="spacer">&nbsp;</li>

	</ul>	

	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top winner"></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom "></li>

		<li class="spacer">&nbsp;</li>
	</ul>
</main>


<form method = "POST" action="/bracket">
  First Match Winner:<input type="text" name="Winner1"> <br>
  Second Match Winner:<input type="text" name="Winner2"> <br>
  Third Match Winner:<input type="text" name="Winner3"> <br>
  Fourth Match Winner:<input type="text" name="Winner4"> <br>
  <input type="submit">
</form>