<!doctype html>
<html>
<head>
    <title>Create Your Bracket!</title>
    <style>
        body{ 
            padding-top:10px; word-wrap:break-word; padding-left: 10px;
        }

        /*
         *  Flex Layout Specifics
        */
        main{
          display:flex;
          flex-direction:row;
        }
        .round{
          display:flex;
          flex-direction:column;
          justify-content:center;
          width:200px;
          list-style:none;
          padding:0;
        }
          .round .spacer{ flex-grow:1; }
          .round .spacer:first-child,
          .round .spacer:last-child{ flex-grow:.5; }

          .round .game-spacer{
            flex-grow:1;
          }
        .gone {
            visibility: hidden;
        }

        /*
         *  General Styles
        */
        body{
          font-family:sans-serif;
          font-size:small;
          padding:10px;
          line-height:1.4em;
        }

        li.game{
          padding-left:20px;
        }

        .form2 {
          margin-top: -195px;
          margin-left: 200px;
        }

        .form3 {
          margin-top: -120px;
          margin-left: 410px;
        }

          li.game.{
            font-weight:bold;
          }
          li.game span{
            float:right;
            margin-right:5px;
          }

          li.game-top{ border-bottom:1px solid #aaa; }

          li.game-spacer{ 
            border-right:1px solid #aaa;
            min-height:40px;
          }

          li.game-bottom{ 
            border-top:1px solid #aaa;
          }
          .seed {
            font-size: 1;
          }

    </style>
</head>
<body>    <div class="all">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <h1>{{titlez}}</h1>

    <main id="tournament">
        <ul class="round round-1">
            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">1.  {{other.[0]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">8.  {{other.[7]}}</li>

            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">4.  {{other.[3]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">5.  {{other.[4]}}</li>

            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">3.  {{other.[2]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">6.  {{other.[5]}}</li>

            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">2.  {{other.[1]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">7.  {{other.[6]}}</li>

            <li class="spacer">&nbsp;</li>
        </ul>
         <ul class="round round-2">
            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">{{other.[8]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">{{other.[9]}}</li>

            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">{{other.[10]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">{{other.[11]}}</li>

            <li class="spacer">&nbsp;</li>
      </ul>
       <ul class="round round-3">
            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top ">{{other.[12]}}</li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">{{other.[13]}}</li>

            <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
            <li><h1>Winner: {{other.[14]}}</h1></li>
        </ul>       
    </main>

        <div class="form1">
            <form method="POST" id="round1" action="/bracketDisplay">
                Pick 1st Round Winners:<br>
                <input type="radio" name="G1" value="top">{{other.[0]}}     OR     
                <input type="radio" name="G1" value="Bottom">{{other.[7]}} <br><br>
                <input type="radio" name="G2" value="top">{{other.[3]}}     OR     
                <input type="radio" name="G2" value="Bottom">{{other.[4]}} <br><br>
                <input type="radio" name="G3" value="top">{{other.[2]}}     OR     
                <input type="radio" name="G3" value="Bottom">{{other.[5]}} <br><br>
                <input type="radio" name="G4" value="top">{{other.[1]}}     OR    
                <input type="radio" name="G4" value="Bottom">{{other.[6]}} <br><br>
                <button type="submit" formmethod="post" class="Submit1">Submit</button> 
            </form>
        </div>

        <div class = "form2">
            <form method="POST" id="round1" action="/bracketDisplay">
                Pick 2nd Round Winners:<br>
                <input type="radio" name="G5" value="top">{{other.[8]}}     OR     
                <input type="radio" name="G5" value="Bottom">{{other.[9]}} <br><br>
                <input type="radio" name="G6" value="top">{{other.[10]}}     OR     
                <input type="radio" name="G6" value="Bottom">{{other.[11]}} <br><br>
                <button type="submit" formmethod="post" class="Submit2">Submit</button>
            </form>
        </div>

        <div class = "form3">
            <form method="POST" id="round1" action="/bracketDisplay">
                Pick A Champion:<br>
                <input type="radio" name="G7" value="top">{{other.[12]}}     OR     
                <input type="radio" name="G7" value="Bottom">{{other.[13]}} <br><br>
                <!-- <input type="hidden" name="Form2Sub" value="nope"><br> -->
                <button type="submit" formmethod="post" class="Submit2">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>